<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>baseInfo_Component</title>
    <link href="./css/reset.css" rel="stylesheet" type="text/css"/>
    <link href="./css/cover.css" rel="stylesheet" type="text/css"/>
    <link href="./css/catalogue.css" rel="stylesheet" type="text/css"/>
    <link href="./css/rp-result.css" rel="stylesheet" type="text/css"/>
    <link href="./css/rp-detail.css" rel="stylesheet" type="text/css"/>
    <link href="./css/table.css" rel="stylesheet" type="text/css"/>
    <link href="./css/quill.core.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="detail">
    <div class="base-info-project" th:fragment="baseInfo_Component(dataStructure)">
        <div class="item item-first">
            <div class="item-text">
                <div class="first">客户名称:</div>
                <div class="last" th:text="${dataStructure.companyName ?: '--'}">XXX名称</div>
            </div>
            <div class="item-text">
                <div class="first">成立日起:</div>
                <div class="last" th:text="${#dates.format(dataStructure.estiblishTime, 'yyyy-MM-dd') ?: '--'}">
                    2022-01-01
                </div>
            </div>
        </div>
        <div class="item">
            <div class="item-text">
                <div class="first">注册资本:</div>
                <div class="last" th:text="${dataStructure.regCapital ?: '--'}">5000万</div>
            </div>
            <div class="item-text">
                <div class="first">企业类型:</div>
                <div class="last" th:text="${dataStructure.type ?: '--'}">文案信息内容</div>
            </div>
        </div>
        <div class="item">
            <div class="item-text">
                <div class="first">所属集团:</div>
                <div class="last" th:text="${dataStructure.affiliatedGroup ?: '--'}">
                    文案信息内容文案信息内容文案信息内容文案信息内容文案信息内容文案信息内容文案信息内容文案信息内容
                </div>
            </div>
            <div class="item-text">
                <div class="first">法定代表人:</div>
                <div class="last" th:text="${dataStructure.legalPersonName ?: '--'}">
                    文案信息内容文案信息内容文案信息内容文案信息内容文案信息内容文案信息内容文案信息内容文案信息内容
                </div>
            </div>
        </div>
        <div class="item">
            <div class="item-text">
                <div class="first">所属行业:</div>
                <div class="last" th:text="${dataStructure.industry ?: '--'}">文案信息内容</div>
            </div>
            <div class="item-text">
                <div class="first">人员规模:</div>
                <div class="last" th:text="${dataStructure.staffNumRange ?: '--'}">2000人</div>
            </div>
        </div>
        <!--                <div class="item row1">-->
        <!--                    <div class="item-text">-->
        <!--                        <div class="first">参保人数:</div>-->
        <!--                        <div class="last"-->
        <!--                             th:text="${null==dataStructure.socialStaffNum?'&#45;&#45;':dataStructure.socialStaffNum+'人'}">-->
        <!--                            2000人-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                </div>-->
        <div class="item row1">
            <div class="item-text">
                <div class="first">经营范围:</div>
                <div class="last" th:text="${dataStructure.businessScope ?: '--'}">
                    文案信息内容文案信息内容文案信息内容
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
