<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>industry-commerce-content</title>
    <link href="./css/reset.css" rel="stylesheet" type="text/css"/>
    <link href="./css/cover.css" rel="stylesheet" type="text/css"/>
    <link href="./css/catalogue.css" rel="stylesheet" type="text/css"/>
    <link href="./css/rp-result.css" rel="stylesheet" type="text/css"/>
    <link href="./css/rp-detail.css" rel="stylesheet" type="text/css"/>
    <link href="./css/table.css" rel="stylesheet" type="text/css"/>
    <link href="./css/quill.core.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="detail">
    <!-- 工商信息 -->
    <div class="basic-content" th:fragment="basic(dataVo,myToc)">
        <div th:replace="~{headline :: headline(toc=${myToc},riskMark=0)}">
            <div class="content-title">
                DD基本信息
            </div>
        </div>
        <!--  -->
        <div class="margin-top22" th:with="dataStructure=${dataVo?.companyBasic}">
            <div th:replace="~{baseInfo_Component :: baseInfo_Component(dataStructure=${dataStructure})}">
                baseInfo_Component基本信息
            </div>
        </div>
    </div>
</div>
</body>
</html>
