<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>cityAnalysis</title>
    <link href="./css/reset.css" rel="stylesheet" type="text/css"/>
    <link href="./css/cover.css" rel="stylesheet" type="text/css"/>
    <link href="./css/catalogue.css" rel="stylesheet" type="text/css"/>
    <link href="./css/rp-result.css" rel="stylesheet" type="text/css"/>
    <link href="./css/rp-detail.css" rel="stylesheet" type="text/css"/>
    <link href="./css/table.css" rel="stylesheet" type="text/css"/>
    <link href="./css/quill.core.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="detail">
    <!-- 基本信息 -->
    <div class="base-city-analysis-content" th:fragment="cityAnalysis(dataVo,myToc)">
        <div th:replace="~{headline :: headline(toc=${myToc},riskMark=0)}">
            <div class="content-title" th:id="${myToc.dest}" th:text="${myToc.getName()}">
                DD区域分析
            </div>
        </div>
        <!-- 区域信息 -->
        <div th:with="thisToc=${myToc.access.getFirstChild()},region=${dataVo?.regionStructure}">
            <div class=""
                 th:replace="~{regionStructure :: regionStructure(regionStructureToc=${thisToc},regionData=${region})}">
                some-risks_component::regionStructure
            </div>
        </div>
        <!-- 财政补助-->
        <div class="base-info01" th:with="thisToc=${myToc.access.getNext()}">
            <div th:replace="~{headline :: headline(toc=${thisToc},riskMark=0)}">
                <div class="detail-title">
                    <img src="./image/common/02.png"/>
                    <div class="title" th:id="${thisToc.dest}" th:text="${thisToc.getName()}">DD财政补助</div>
                </div>
            </div>
            <div th:with="tableGovGrants=${dataVo?.tableGovGrants}">
                <div th:with="companyName=${tableGovGrants?.govGrants?.companyName} ,labels=${tableGovGrants?.govGrants?.labels}">
                    <div th:replace="~{companyTitle:: companyTitleMargin24(desc='当前简析企业:',companyName=${companyName},labels=${labels})}">
                        <div class="company-title">
                            <div class="company-title-left">
                                <div class="company-des-name">
                                    广西交投集团广西交投集团广西交投集团广西交投集团广西交投集团广西交投集团广西交投集团广西交投集团广西交投集团广西交投集团
                                </div>
                            </div>
                            <div class="company-title-tag">
                                <span class="company-title-tag-item">实际控股公司</span>
                                <span class="company-title-tag-item">其他关联公司</span>
                                <span class="company-title-tag-item">项目公司</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:with="lsGovGrants=${tableGovGrants?.dataList},titleList=${tableGovGrants?.titleList}">
                    <th:block th:with="dataIsEmpty=${#lists.isEmpty(lsGovGrants)}">
                        <div class="city-analysis-detail" th:if="not  ${dataIsEmpty}"
                             th:with="ls=${lsGovGrants},titles=${titleList}">
                            <div class="standard-svg" th:utext="${tableGovGrants?.svg}">
                                <!--                        <svg height="322pt" width="720pt">-->
                                <!--                            <circle cx="100" cy="50" fill="red" r="40" stroke="black" stroke-width="2"/>-->
                                <!--                        </svg>-->
                            </div>
                            <table class="table3 margin-24" th:with="colSize=${ls?.size()}">
                                <tr>
                                    <td class="th">项目</td>
                                    <th:block th:each="colIdx:${#numbers.sequence(1,colSize)}">
                                        <td class="th" th:text="${titleList[colIdx-1]}">2001年报</td>
                                    </th:block>
                                </tr>
                                <tr>
                                    <td class="th">计入递延收益（亿元）</td>
                                    <th:block th:each="colIdx:${#numbers.sequence(1,colSize)}">
                                        <td th:text="${ls[colIdx-1].totalIncome ?: '--'}">406896.51</td>
                                    </th:block>
                                </tr>
                                <tr>
                                    <td class="th">计入当前损益（亿元）</td>
                                    <th:block th:each="colIdx:${#numbers.sequence(1,colSize)}">
                                        <td th:text="${ls[colIdx-1].totalProfitsLosses ?: '--'}">76601.72</td>
                                    </th:block>
                                </tr>
                                <tr>
                                    <td class="th">合计（亿元）</td>
                                    <th:block th:each="colIdx:${#numbers.sequence(1,colSize)}">
                                        <td th:text="${ls[colIdx-1].getTotal() ?: '--'}">7424</td>
                                    </th:block>
                                </tr>
                            </table>
                        </div>
                        <div class="empty" style="display: none" th:style="|display:${dataIsEmpty ? 'block':'none'}|">
                            经全网扫描，未查得该信息
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
        <!-- 地域利差-->
        <div class="base-info02" th:with="thisToc=${myToc.access.getNext()}">
            <div th:replace="~{headline :: headline(toc=${thisToc},riskMark=0)}">
                <div class="detail-title">
                    <img src="./image/common/02.png"/>
                    <div class="title" th:id="${thisToc.dest}" th:text="${thisToc.getName()}">DD地域利差</div>
                </div>
            </div>
            <div th:with="tableTnterestMargins=${dataVo?.tableTnterestMargins}">
                <div th:with="lsGovGrants=${tableTnterestMargins?.ls}">
                    <th:block th:with="dataIsEmpty=${#lists.isEmpty(lsGovGrants)}">
                        <div class="city-analysis-detail" th:if="not  ${dataIsEmpty}" th:with="ls=${lsGovGrants}">
                            <div class="standard-svg" th:utext="${tableTnterestMargins?.svg}">
                                <!--                        <svg height="322pt" width="720pt">-->
                                <!--                            <circle cx="100" cy="50" fill="red" r="40" stroke="black" stroke-width="2"/>-->
                                <!--                        </svg>-->
                            </div>
                        </div>
                        <div class="empty" style="display: none" th:style="|display:${dataIsEmpty ? 'block':'none'}|">
                            经全网扫描，未查得该信息
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
        <!-- 地域久期-->
        <div class="base-info03" th:with="thisToc=${myToc.access.getNext()}">
            <div th:replace="~{headline :: headline(toc=${thisToc},riskMark=0)}">
                <div class="detail-title">
                    <img src="./image/common/02.png"/>
                    <div class="title" th:id="${thisToc.dest}" th:text="${thisToc.getName()}">DD地域久期</div>
                </div>
            </div>
            <div th:with="tableDurations=${dataVo?.tableDurations}">
                <div th:with="lsDurations=${tableDurations?.ls}">
                    <th:block th:with="dataIsEmpty=${#lists.isEmpty(lsDurations)}">
                        <div class="city-analysis-detail" th:if="not  ${dataIsEmpty}" th:with="ls=${lsDurations}">
                            <div class="standard-svg" th:utext="${tableDurations?.svg}">
                                <!--                        <svg height="322pt" width="720pt">-->
                                <!--                            <circle cx="100" cy="50" fill="red" r="40" stroke="black" stroke-width="2"/>-->
                                <!--                        </svg>-->
                            </div>
                        </div>
                        <div class="empty" style="display: none" th:style="|display:${dataIsEmpty ? 'block':'none'}|">
                            经全网扫描，未查得该信息
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
